*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#1e293b;
}

ul{
display:flex;
list-style:none;
gap:20px;
}

a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
}

.hero img{
width:180px;
height:180px;
border-radius:50%;
border:4px solid cyan;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:cyan;
color:black;
border-radius:8px;
}

section{
padding:50px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.card,.project{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover,.project:hover{
transform:translateY(-10px);
}